.delete {
    float: right;
    background-color: #f14444;
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    margin: -2px 0 0;
    
}

#create-task {
    margin-top: 10px;
}

p {
    padding: 5px;
    font-weight: bold;
}

#create-task {
    padding: 1rem 2rem;
    border-bottom: 1px solid #E6E9EE;
    display: flex;
    justify-content: space-between;
}

#add-button {
    font-size: small;
    background-color: #44acf1;
    border: none;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

#new-task-content {
    flex-grow: 1;
    padding: 1rem 0;
    border: none;
    background: none;
    padding-left: 15px;
    font-size: larger;
}

.container {
    width: 65%;
    background: #F9F9F9;
    border-radius: 1rem;
    box-shadow: 0 15px 20px rgb(0 0 0 / 20%);
    padding: 0.25rem 0;
}

#todo-list {
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

input[type="radio"] {
    float: left;
    margin: 6.3px 0 0;
    margin-right: 20px;
}

.btns {
    border-top: 1px solid #E6E9EE;
    padding: 1rem 2rem;
}

li {
    list-style: none;
    font-size: medium;
    font-weight: bold;
}

.btn-light{
    margin-right: 5px;
    border: 1px solid #E6E9EE;
}


